*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
p{
    color: #0000ff;
    font-size: 20px;
    font-family: "Bebas Neue";
    text-align: left;
    word-spacing: 0px;
    line-height: 20px;
    
}