#titulo{
    background-color: #0000cc;
    color: rgb(255,255,255);
}
.texto{
    background-color: #0000ff;
    border-radius: 5px;
    
}
div{
    background-color: #00ff00;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid darkgreen;
}
img{
    border: 5px solid red;
    border-radius: 40px;
    overflow: hidden;
}